<!DOCTYPE html>
<html lang="en" ng-app="alunosModulo">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Alunos</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="css/carousel.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<script src="/js/ie-emulation-modes-warning.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/controller/aluno.js"></script>
</head>

<body ng-controller="alunosController">
	<div class="container">
		<div class="navbar-header">
			<div ng-include src="'menu.html'"></div>
			
			<h1 align="center">Aluno</h1>

			<form>
				<input type="hidden" ng-model="aluno.codigo" class="form-control" id="codigoAluno" readonly />
				<div class="form-group">
					<label for="alunoProntuario">Prontuário</label> <input
						type="text" ng-model="aluno.prontuario" class="form-control"
						id="alunoProntuario" placeholder="Prontuário" required>
				</div>
				<div class="form-group">
					<label for="alunoNome">Nome</label> <input type="text"
						ng-model="aluno.nome" class="form-control"
						id="alunoNome" placeholder="Nome" required>
				</div>
				<div class="form-group">
					<label for="alunoTelefone">Telefone</label> <input type="text"
						ng-model="aluno.telefone" class="form-control"
						id="alunoTelefone" maxlength="15" placeholder="Telefone" required>
				</div>
				<div class="form-group">
					<label for="alunoEmail">Email</label> <input type="email"
						ng-model="aluno.email" class="form-control"
						id="alunoEmail" placeholder="Email" required>
				</div>
		
				<div align="center" class="form-group">
					<button type="submit" ng-disabled="!aluno.prontuario"
						ng-click="salvar()" class="btn btn-primary" id="Salvar">Salvar</button>
					<button type="submit" ng-disabled="!aluno.codigo"
						ng-click="excluir()" class="btn btn-danger" id="Excluir">Excluir</button>
					<button type="reset" class="btn btn-success" id="Limpar">Limpar</button>
					
					<hr>
					<label for="pesquisa">Pesquisa de Alunos</label> <input
						type="text" ng-model="pesquisaAluno" class="form-control"
						id="pesquisa" placeholder="Buscar">
				</div>
			</form>

			<table class="table table-striped table-hover">
				<th>Código</th>
				<th>Nome</th>
				<th>Prontuário</th>
				<th>Telefone</th>
				<th>Email</th>

				<tr ng-repeat="alunosTabela in alunos | filter:pesquisaAluno" ng-click="selecionaAluno(alunosTabela)">
					<td>{{alunosTabela.codigo}}</td>
					<td>{{alunosTabela.nome}}</td>
					<td>{{alunosTabela.prontuario}}</td>
					<td>{{alunosTabela.telefone}}</td>
					<td>{{alunosTabela.email}}</td>
				</tr>
			</table>

		<hr class="featurette-divider">
		<!-- Divisao entre conteudo e footer

        <!-- FOOTER -->
		<footer>
			<p class="pull-right">
				<a href="#">Voltar ao início</a>
			</p>
			<p>
				&copy; 2017 IFSP - Campinas. &middot; <a href="mailto:lucashegomes@gmail.com">lucashegomes@gmail.com</a>
			</p>
		</footer>
	</div>
	<!-- /.container -->
	</div>

	<script src="js/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
	<script src="js/bootstrap.min.js"></script>

	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	<script src="js/vendor/holder.min.Just"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
