<!DOCTYPE html>
<html lang="en" ng-app="disciplinasModulo">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Disciplinas</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="/js/ie-emulation-modes-warning.js"></script>

<link href="css/carousel.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet">

<script src="js/angular.min.js"></script>
<script src="js/controller/disciplina.js"></script>
</head>
<body ng-controller="disciplinasController">
	<div class="container">
		<div class="navbar-header">
			<div ng-include src="'menu.html'"></div>
			<h1 align="center">Disciplinas</h1>

			<form>
				<input type="hidden" ng-model="disciplina.codigo" class="form-control" id="codigoDisciplina" readonly />
				</div>
				<div class="form-group">
					<label for="disciplinaNome">Nome</label> <input type="text"
						ng-model="disciplina.nome" class="form-control" id="disciplinaNome"
						placeholder="Nome" required>
				</div>
				<div class="form-group">
					<label for="disciplinaDiasHorarios">Dias e Horários</label> <input
						type="text" ng-model="disciplina.diasHorarios" class="form-control"
						id="disciplinaDiasHorarios" placeholder="Dias e Horários" required>
				</div>
				<div class="form-group">
					<label for="disciplinaSemestre" alt="Semestre">Semestre</label> <select
						ng-model="disciplina.semestre" class="form-control" id="semestreDisciplina">
						<option>1º Semestre</option>
						<option>2º Semestre</option>
						<option>3º Semestre</option>
						<option>4º Semestre</option>
						<option>5º Semestre</option>
						<option>6º Semestre</option>
					</select>
				</div>
				<div class="form-group">
					<label for="disciplinaProfessor">Professor</label> <select
						ng-model="disciplina.professor"
						ng-options="professor.nome for professor in professores track by professor.codigo"
						class="form-control" id="disciplinaProfessor">
					</select> <br />
					<div align="center" class="form-group">
						<button type="submit" ng-disabled="!disciplina.nome"
							ng-click="salvar()" class="btn btn-primary" id="Salvar">Salvar</button>
						<button type="submit" ng-disabled="!disciplina.codigo"
							ng-click="excluir()" class="btn btn-danger" id="Excluir">Excluir</button>
						<button type="reset" class="btn btn-success" id="Limpar">Limpar</button>
					</div>
					<hr>
					<label for="pesquisa">Pesquisa de Disciplinas</label> <input type="text"
						ng-model="pesquisaDisciplina" class="form-control" id="pesquisa"
						placeholder="Buscar">
				</div>
			</form>

			<table class="table table-striped table-hover">
				<th>Código</th>
				<th>Nome</th>
				<th>Dias e Horários</th>
				<th>Semestre</th>
				<th>Professor</th>

				<tr ng-repeat="disciplinaTabela in disciplinas | filter:pesquisaDisciplina"
					ng-click="selecionaDisciplina(disciplinaTabela)">
					<td>{{disciplinaTabela.codigo}}</td>
					<td>{{disciplinaTabela.nome}}</td>
					<td>{{disciplinaTabela.diasHorarios}}</td>
					<td>{{disciplinaTabela.semestre}}</td>
					<td>{{disciplinaTabela.professor.nome}}</td>
				</tr>
			</table>

			<hr class="featurette-divider">
			<!-- Divisao entre conteudo e footer

        <!-- FOOTER -->
		<footer>
			<p class="pull-right">
				<a href="#">Voltar ao início</a>
			</p>
			<p>
				&copy; 2017 IFSP - Campinas. &middot; <a href="mailto:lucashegomes@gmail.com">lucashegomes@gmail.com</a> 
			</p>
		</footer>
		</div>
		<!-- /.container -->
	</div>

	<script src="js/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
	<script src="js/bootstrap.min.js"></script>

	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	<script src="js/vendor/holder.min.Just"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
