<!DOCTYPE html>
<html ng-app="periodosMatriculaModulo">
<head>
<meta charset="UTF-8">
<link rel="icon" href="../../favicon.ico">

<title>Período de Matrícula</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- Custom styles for this template -->
<link href="css/carousel.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet">

<script src="js/angular.min.js"></script>
<script src="js/controller/periodoMatricula.js"></script>
</head>
<!-- NAVBAR
================================================== -->
</head>
<body ng-controller="periodosMatriculaController">
	<div class="container">
		<div class="navbar-header">
			<div ng-include src="'menu.html'"></div>
			<h1 align="center">Período de Matrícula</h1>

			<form>
				<input type="hidden" ng-model="periodoMatricula.codigo" class="form-control" id="codigoPeriodoMatricula" readonly>

				<div class="form-group">
					<div class='input-group date' class="periodoMatriculaData" id='datetimepicker1'>
						<input type='text' class="form-control" /> <span
							class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class='input-group date' class="periodoMatriculaData" id='datetimepicker2'>
						<input type='text' class="form-control" /> <span
							class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
				<div align="center" class="form-group">
					<button type="submit" ng-disabled="!matricula.prontuarioAluno"
						ng-click="salvar()" class="btn btn-primary" id="Salvar">Salvar</button>
					<button type="submit" ng-disabled="!matricula.codigo"
						ng-click="excluir()" class="btn btn-danger" id="Excluir">Excluir</button>
					<button type="reset" class="btn btn-success" id="Limpar">Limpar</button>
				</div>
			</form>
		</div>

		<hr class="featurette-divider">
		<!-- Divisao entre conteudo e footer

        <!-- FOOTER -->
		<footer>
			<p class="pull-right">
				<a href="#">Voltar ao início</a>
			</p>
			<p>
				&copy; 2017 IFSP - Campinas. &middot; <a href="mailto:lucashegomes@gmail.com">lucashegomes@gmail.com</a>
			</p>
		</footer>
	</div>
	<!-- /.container -->
	</div>

	<script src="js/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
	<script src="js/bootstrap.min.js"></script>

	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	<script src="js/vendor/holder.min.Just"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="assets/js/ie10-viewport-bug-workaround.js"></script>	
	
	<script type="text/javascript">
	    $(function () {
	        $('.periodoMatriculaData').datetimepicker({
	            locale: 'br'
	        });
	    });
	</script>
</body>
</html>